*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}


header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(wallpaper.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;	
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #fff;
	color:#000;

}
ul li.active a{
	background-color: #fff;
	color:#000;

}

.logo{
	float: left;
	height: auto;
	position: absolute;
	top: 42%;
	left: 10%;
	transform: translate(-50%, -50%);
	border: 10px solid;

}
.nav{
	max-width: 1200px;
}




footer{
	background-color: black;
	color: white;
	font-size: 17px;
	text-align: left;
	margin-top: -129px;
	padding: 10px 30px 10px;
	border: 1px solid;

}

p.adresa{
	text-align: left;
	margin-left: 110px;
}
p.vpravo{
	text-align: right;
	margin-top: 10px;
}
p.vyvoj{
	text-align: right;
}
p.nazeve{
	margin-top: -60px;
	margin-left: 350px;
}
p.nazevt{
	margin-top: -20px;
	margin-left: 350px;
}
p.email{
	margin-top: -19px;
	margin-left: 430px;
}	
p.telefon{
	margin-top: -18px;
	margin-left: 430px;
}
h1{
	position: absolute;
	top: 10%;
	left: 29%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 40px;
	padding: 10px;
	background-color: black;
	border: 1px solid;

}
p.uvodni{
	position: absolute;
	top: 43%;
	left: 85%;
	transform: translate(-50%, -50%);
	background-color: black;
	color: white;
	font-size: 13px;
	text-align: justify;
	padding: 10px;
	border:1px solid;
}

input.jmeno{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:25%;
	left:32%;
	transform: translate(-50%, -50%);
	padding: 5px;
}

input.email{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top: 35%;
	left:32%;
	transform: translate(-50%, -50%);
	padding: 5px;
}

input.telefon{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:45%;
	left:32%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
input.adresa{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:55%;
	left:32%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
input.mesto{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:25%;
	left:50%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
input.psc{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:35%;
	left:50%;
	transform: translate(-50%, -50%);
	padding: 5px;
}

select.prvni{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:45%;
	left:49%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
select.druhy{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:55%;
	left:49%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
input.pocet{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:45%;
	left:65%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
input.pocet_druhy{
	border: 1px solid;
	color: white;
	background-color: black;
	position: absolute;
	top:55%;
	left:65%;
	transform: translate(-50%, -50%);
	padding: 5px;
}
textarea.poznamky{
	color: white;
	background-color: black;
	position: absolute;
	top:29.3%;
	left:65%;
	transform: translate(-50%, -50%);
	border: 1px solid;
}

select.platba{
	color: white;
	background-color: black;
	position: absolute;
	top:64%;
	left:49.9%;
	transform: translate(-50%, -50%);
	border: 1px solid;
	padding: 5px;
}

input.objednat{
	color: white;
	background-color: black;
	position: absolute;
	top:64%;
	left:66.5%;
	transform: translate(-50%, -50%);
	border: 1px solid;
	padding: 5px;
}
